@import url('https://fonts.googleapis.com/css?family=Special+Elite|Anton|Abel&display=swap');
@font-face {
	font-family: T2KCharSheet;
    src: url(https://github.com/NocFenix/roll20-character-sheets/blob/t2k-4e/T2K%204e/STENCILSTD.OTF?raw=true) format("opentype");
  }
@font-face {
  font-family: DaisyWheel;
    src: url( https://github.com/dwarfwing/twilight2000/raw/main/Twilight%202000/assets/fonts/daisywhl.otf?raw=true) format("opentype");
  }

// -- Tabs -- //

.basic,
.attributes,
.weapons,
.combat,
.gear,
.vehicle,
.notes {
  display: none;
}

.tabstoggle[value="basic"] ~ div.basic,
.tabstoggle[value="attributes"] ~ div.attributes,
.tabstoggle[value="weapons"] ~ div.weapons,
.tabstoggle[value="combat"] ~ div.combat,
.tabstoggle[value="gear"] ~ div.gear,
.tabstoggle[value="vehicle"] ~ div.vehicles,
.tabstoggle[value="notes"] ~ div.notes {
  display: flex;
  flex-direction: column;
}

.sheet-tabstoggle[value="basic"] ~ div.tab-buttons-container button[type=action].main-buttons.button-basic,
.sheet-tabstoggle[value="attributes"] ~ div.tab-buttons-container button[type=action].main-buttons.button-attributes,
.sheet-tabstoggle[value="weapons"] ~ div.tab-buttons-container button[type=action].main-buttons.button-weapons,
.sheet-tabstoggle[value="combat"] ~ div.tab-buttons-container button[type=action].main-buttons.sht-button-combat,
.sheet-tabstoggle[value="gear"] ~ div.tab-buttons-container button[type=action].main-buttons.button-gear,
.sheet-tabstoggle[value="vehicle"] ~ div.tab-buttons-container button[type=action].main-buttons.button-vehicle,
.sheet-tabstoggle[value="notes"] ~ div.tab-buttons-container button[type=action].main-buttons.button-notes {
	background-color: #877D70;
	color: #fff;
    border: 3px solid #877D70;
}

 
// -- Variables -- //

$primary: #756758;
$secondary: #5a4c3a;
$light: #e4ddc9;
$tan: #cdc3af;
$dark-font: #000;
$gold: #ffd70066;


.page-container {
  display: flex;
  flex-direction: column;
  background-color: $light;
  padding: 8px;
  background-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/background.png);
}
.component {
  display: block;
}
.sheet-rolltemplate-sheetname {
  display: block;
}
%row-commons {
  display: flex;
  flex-direction: row;
  width: 100%;
  -border-bottom: 1px solid #534c3b; 
}
%cell-flex-col {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
}
%cell-flex-row {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-self: stretch;
  align-items: center;
  flex-wrap: wrap;
}
%text-base {
  font-family: 'GNUTypewriter','DaisyWheel','Special Elite','Abel';
  color: $primary;
  text-align: left;
  padding-left: 3px;
}
%text-upper {
  text-transform: uppercase;
}
%text-lower {
  text-transform: unset;
  font-weight: unset;
}
%border-right {
  padding-right: 3px;
  -border-right: 2px solid $primary;
  border-width: 0 2px;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/border-long1.png) 0 0 4 0;
}
%border-bottom {
  border-width: 0 0 2px;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/border-long1.png) 0 0 4 0;
}
%input-box {
  padding: 2px;
  border: 1px solid $primary !important;
  border-radius: 2px;
  min-width: 30px;
  width: 30px;
  min-height: 20px;
  height: 20px;
}
%input-text {
  width: auto;
  background-color: transparent;
  border-top: 0;
  line-height: 1.2em;
  height: 1.5em !important;
  padding-top: 5px;
}
%input-select {
  min-width: 38px;
  width: 38px;
  min-height: 26px;
  height: 26px;
  margin-bottom: unset;
}
%input-outline {
  &:active, &:focus, &:focus-within, &:focus-visible, &:target, &:hover {
    border: 1px solid $secondary !important;
    outline-width: 0;
  }
}
.logo {
  @extend %text-base;
  @extend %text-upper;
  background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/T2K%204e/Images/t2k-logo.png');
}
div, span, p, .label {
  @extend %text-base;
  @extend %text-lower;
}
h1, h2, h3, h4, select, option, .label-caps {
  @extend %text-base;
  @extend %text-upper;
  font-size: 1em;
}
.label-caps {
 font-size: 90%; 
 padding-left: 0;
}
div.headlabel div.label-caps {
  font-size: 80%;
}

span {
  &.input-die {
  @extend %input-box;   
  background-color: inherit !important;
  min-width: 2.5em !important;
  text-align: center;  
  display: flex;
  align-items: center;
  justify-content: center;
  }
}
input {
  @extend %text-base;
  @extend %input-text; 
  @extend %input-outline;  
  background-color: transparent;
  color: $secondary;
  width: 100%;
  margin-bottom: 3px !important;
  &.input-number {
    @extend %input-box;
    @extend %input-select;
  }
  &.input-text {
    color: $dark-font;
    font-family: 'Abel';
  }
  &.numbered-box {
    width: 18px;
    height: 18px;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;
    cursor: pointer;
    z-index: 5;
    opacity: 0;

    & + span::before {
      content: attr(title);
      color: $secondary;
      border: solid 1px $secondary;
      text-align: center;
      display: inline-block;
      background: transparent;
      
      width: 18px;
      height: 18px;
      font-size: 10px;
      font-weight: bold;
      margin-left: -21px;
      margin-right: 2px;
      padding: 0px 0px 0px 0px;
      line-height: 18px;
      box-shadow: 0px 0px 5px #dcdcdc;
    }
    &:checked + span::before {
      color: #ffffff;
      background: #cc0000;
      border: solid 1px #cc0000;
      box-shadow: 0px 0px 10px #b30000;
    }
  }
  &.greyish-box:checked + span::before {
    color: $light;
    background: $primary;
    border: solid 1px $secondary;
    box-shadow: 0px 0px 10px #808080;
  }
  &.grey-box:checked + span::before {
    color: #ffffff;
    background: #808080;
    border: solid 1px #808080;
    box-shadow: 0px 0px 10px #808080;
  }
  &.green-box:checked + span::before {
    color: #000000;
    background: #7cfc00;
    border: solid 1px #7cfc00;
    box-shadow: 0px 0px 10px #008000;
  }
  &.gold-box:checked + span::before {
    color: #000000;
    background: #ffd700;
    border: solid 1px #ffd700;
    box-shadow: 0px 0px 10px #ffd700;
  }  
}

select { 
  @extend %input-outline;   
  @extend %input-box;  
  @extend %input-select;  
  -width: 38px;
  -height: 26px;    
  justify-content: center;
  justify-items: center;
  background-color: $light;
  padding-left: 5px;
}
option {    
  @extend %input-outline;  
  @extend %input-select; 
  justify-content: center;
  justify-items: center;
  background-color: $light;
  text-align: center;
}
.tab {
  display: flex;
  min-width: 16%;
  max-width: 16%;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 2.5em;
  border: 1px solid $secondary;
  border-bottom: unset;
  background-color: $light;
  margin-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0px;
}
.row {
  @extend %row-commons;
  line-height: 1em;
  min-height: 1em;
}
.row-tall {
  @extend %row-commons;
  line-height: 1.2em;
  min-height: 1.2em;
}
.row-narrow {
  @extend %row-commons;
  line-height: 0.8em;
  min-height: 0.8em;
}
.box {
  @extend %cell-flex-col;
  padding: 3px;
}
.row-100pc {
  min-width: 100%;
  max-width: 100%;
}
.row-whole {
  @extend %cell-flex-row;
  max-width: 99%;
  min-width: 99%;
  padding-bottom: 5px;
}
.row-fill {
  flex: 1;
}
.h-fill {
  height: 100%;
}
.h-2-5em {
  height: 2.5em;
}
.repcontainer, .repitem {
  padding-left: 0;
}
.repcontrol_add, .repcontrol_edit {
  float: right;
  margin-top: 4px;
  margin-right: 2px;
  color: $light;
  background: $primary;
  border: solid 1px $secondary;
  box-shadow: 0px 0px 10px #808080;
}
.col-half {
  @extend %cell-flex-col;
  max-width: 49%;
  min-width: 49%;
}
.col-third {
  @extend %cell-flex-col;
  max-width: 32%;
  min-width: 32%;
}
.col-twothird {
  @extend %cell-flex-col;
  max-width: 66%;
  min-width: 66%;
}
.col-quarter {
  @extend %cell-flex-col;
  max-width: 24%;
  min-width: 24%;
}
.col-threequarter {
  @extend %cell-flex-col;
  max-width: 74%;
  min-width: 74%;
}
.col-sixth {
  @extend %cell-flex-col;
  max-width: 16.5%;
  min-width: 16.5%;
}
.col-14th {
  @extend %cell-flex-col;
  max-width: 7%;
  min-width: 7%;
}
.col-3-14th {
  @extend %cell-flex-col;
  max-width: 20%;
  min-width: 20%;
}
.flex1 { flex: 1; }
.flex5 { flex: 5; }
.border-right {
  @extend %border-right;
}
.no-pad {
  padding: 0;
}
.middle {
  align-items: center;
  align-content: center;
  align-self: center;
}
.center {
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
.border-bottom-long {
  @extend %border-bottom;
}
.border-bottom-short {
  margin-top: 3px;
  border-bottom: 1px solid $primary;
}
.background-tan {
  background-color: $tan;
}
.flex-row {  
  @extend %cell-flex-row;
}



