.characterviewer {
  height: 800px;
}

.speciality {
  width: 100%;
  flex-wrap: nowrap;

}
.speciality .repcontainer {
  flex-wrap: wrap;
}
.speciality-box {
    @extend %input-box;
    margin: 4px;
    max-width: 200px;
    min-width: 185px;;
    min-height: 135px;
    max-height: 135px;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 1;
    .spec-name {
      background-color: $tan;
      padding: 4px;
    }
  }
  
  .border-right {
    @extend %border-right;
  }
  .border-all {
    @extend %border-all;
  }
  .nobordered {
    border: unset;
    border-top: unset;
    border-bottom: unset;
    border-right: unset;
    border-left: unset;
  }
  .bordered {
    @extend %bordered;
  }
  .dashed {
    @extend %dashed;
  }
  .dashed {
    @extend %dotted;
  }
  .border-all {
    @extend %border-all
  }
  .border-bottom-long {
    @extend %border-bottom;
  }
  .border-bottom-right {
    @extend %border-bottom-right;
  }
  .border-bottom-short {
    @extend %border-bottom-short;
    -margin-top: 3px;
    -border-bottom: 1px solid $primary;
  }
  .border-top-short {
    @extend %border-top;
    margin-top: 3px;
    padding-top: 5px;
  }
  .border-top-sectioned {
    @extend %border-top-sectioned;
    -margin-top: 3px;
    -padding-top: 4px;
  }
  .noborder { border: none !important; }
  .noshadow { box-shadow: none !important; }
  .separator { margin: 2px; padding: 0; }
  .slash { padding: 0; min-width: unset; width: unset; margin: 2px; }
  .no-marg {   margin: 0 !important; }
  .no-pad {   padding: 0 !important; }
  .pad3 {   padding: 3px; }
  .pad5 {   padding: 5px; }
  .pad8 {   padding: 8px; }
  .pad10 {   padding: 10px; }
  .pad-side3 { padding-left: 3px; padding-right: 3px;}
  .pad-side5 { padding-left: 5px; padding-right: 5px;}
  .pad-side8 { padding-left: 8px; padding-right: 8px;}
  .pad-right3 { padding-right: 3px;}
  .pad-right5 { padding-right: 5px;}
  .pad-right8 { padding-right: 8px;}
  .left-margin {  margin-left: 3px; }
  .height-margs3 { margin-top: 3px; margin-bottom: 3px;}
  .height-margs5 { margin-top: 5px; margin-bottom: 5px;}
  .height-margs8 { margin-top: 8px; margin-bottom: 8px;}
  .height-bot-margs8 { margin-bottom: 8px !important;}
  .height-bot-pads8 { padding-bottom: 8px !important;}
  .height-fit-content { height: fit-content; }
  .height-fill-avail { height: -webkit-fill-available; }
  .mod, .mod-left { -width: fit-content; max-width: unset; min-width: unset; padding: 3px; margin: 5px;}
  .mod .label { text-align: right; margin-right: 0; padding-right: 0;}
  .mod-left .label { text-align: left; margin-left: 0; padding-left: 3px;}
  .mod span, .mod-left span { margin-left: -12px;}
  .mod select, .mod-left select { margin-left: 6px;}
  .weapons-row .narrow, .vehicleweapons-row .narrow { width: 46px; min-width: 46px; }
  .weapons-row input.narrow,.vehicleweapons-row input.narrow { width: 42px; min-width: 42px; }
  .weapons-row .wide, .vehicleweapons-row .wide, .combat .wide, .gear .wide { width: 57px; min-width: 57px; }
  .weapons-row input.wide, .vehicleweapons-row input.wide, .combat input.wide , .gear input.wide { width: 53px; min-width: 53px; }
  input.xxwide, select.xxwide { width: 140px; min-width: 140px; }
  input.xwide, select.xwide { width: 83px; min-width: 83px; }
  .weapons-row .xwide, .vehicleweapons-row .xwide { width: 87px; min-width: 87px; }
  .weapons-row input[type="number"], .weapons-row input[type="text"], .weapons-row select,
    .vehicleweapons-row input[type="number"], .vehicleweapons-row input[type="text"], .vehicleweapons-row select {
      -font-family: $font-selection;
      -color: $primary;
      font-family: $font-input;
      color: $dark-font;
      -appearance:initial;
      border: none;
      box-shadow: unset;
  } 
  .encumbrance span.input-number {
    width: unset;
    min-width: unset;
    -height: 22px;
    align-items: unset;
    min-height: unset;
    padding-top: 0;
  }
  .encumbrance div.col-half, .encumbrance div.col-third, .encumbrance div.col-quarter, .encumbrance div.col-twothird, .encumbrance div.col-threequarter {
    height: 30px;
    padding: unset;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-top: 6px;
    line-height: 1.2em;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end; 
  } 
  .encumbrance div.col-third, .encumbrance div.col-quarter {
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
  }
  .middle {
    align-items: center;
    align-content: center;
    align-self: center;
  }
  .top {
    align-items: flex-start;
    align-content:flex-start;
    align-self: flex-start;
  }
  .bottom {
    align-items: flex-end;
    align-content:flex-end;
    align-self: flex-end;
  }
  .center {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    text-align: center;
  }
  .right {
    justify-content: flex-end;
    justify-self: flex-end;
    justify-items: flex-end;
    text-align: right;
  }
  .space-even {
    display: flex;
    justify-content: space-evenly;
    justify-self: space-evenly;
    justify-items: space-evenly;
  }