// Cols
.col-flex {
  @extend %cell-flex-col;
}
.col-whole {
  @extend %cell-flex-col;
  max-width: 100%;
  min-width: 100%;
}
.col-half {
    @extend %cell-flex-col;
    max-width: 50%;
    min-width: 50%;
  }
  .col-third {
    @extend %cell-flex-col;
    max-width: 33.3%;
    min-width: 33.3%;
  }
  .col-twothird {
    @extend %cell-flex-col;
    max-width: 67.7%;
    min-width: 67.7%;
  }
  .col-quarter {
    @extend %cell-flex-col;
    max-width: 25%;
    min-width: 25%;
  }
  .col-threequarter {
    @extend %cell-flex-col;
    max-width: 75%;
    min-width: 75%;
  }
  .col-225 {
    @extend %cell-flex-col;
    max-width: 22.5%;
    min-width: 22.5%;
  }
  .col-35px {
    @extend %cell-flex-col;
    max-width: 35px;
    min-width: 35px;
  }
  .col-42px {
    @extend %cell-flex-col;
    max-width: 42px;
    min-width: 42px;
  }
  .col-46px {
    @extend %cell-flex-col;
    max-width: 46px;
    min-width: 46px;
  }
  .col-fifth {
    @extend %cell-flex-col;
    max-width: 20%;
    min-width: 20%;
  }
  .col-threefifth {
    @extend %cell-flex-col;
    max-width: 60%;
    min-width: 60%;
  }
  .col-sixth {
    @extend %cell-flex-col;
    max-width: 16.7%;
    min-width: 16.7%;
  }
  .col-fivesixth {
    @extend %cell-flex-col;
    max-width: 83.3%;
    min-width: 83.3%;
  }
  .col-14th {
    @extend %cell-flex-col;
    max-width: 6%;
    min-width: 6%;
  }
  .col-3-14th {
    @extend %cell-flex-col;
    max-width: 21.4%;
    min-width: 21.4%;
  }
  .flex1 { flex: 1; }
  .flex5 { flex: 5; }