// Input
input[type="number"] {
  text-align: right;
}
.input-number {
  @extend %input-box;
  @extend %input-select;
  text-align: center;
}
input[type=number]::-webkit-inner-spin-button {
  background-color: transparent;
  color: $primary;
}
input[type=number]::-webkit-inner-spin-button:hover {
  background-color: transparent;
  color: $secondary;
}
.input-text {
  color: $dark-font;
  font-family: 'Delius', 'Chilanka', 'Abel';
}
.input-textarea {
  color: $dark-font;
  font-family: 'Delius', 'Chilanka', 'Abel';
  height: auto;
}
input, textarea {
    @extend %text-base;
    @extend %input-text; 
    @extend %no-outline;  
    background-color: transparent;
    color: $secondary;
    width: 100%;
    margin-bottom: 3px !important;
    &.input-textarea {
      color: $dark-font;
      font-family: 'Delius', 'Chilanka', 'Abel';
      height: auto;
    }
    &.spec-desc {
      @extend %input-scrollbar;
      @extend %no-outline;
      width: 95%;
      max-width: 95%;
      height: 80px !important;
      max-height: 80px !important;
      resize: none;
      -outline: unset;
      padding: 4px;
      margin-top: 3px;
    }
    &.numbered-box {
      width: 18px;
      height: 18px;
      position: relative;
      top: 0px;
      left: 8px;
      margin: 0px;
      cursor: pointer;
      z-index: 1;
      opacity: 0;
      & + span::before, & + label {
        content: attr(title);
        color: $secondary;
        border: solid 1px $secondary;
        text-align: center;
        display: inline-block;
        background: transparent;
        cursor: pointer;
        
        width: 18px;
        height: 18px;
        font-size: 10px;
        font-weight: bold;
        -margin-left: -14px;
        margin-right: 3px;
        padding: 0px 0px 0px 0px;
        line-height: 18px;
        box-shadow: 0px 0px 5px #808080;
        z-index: 0;
      }
      &.condition + span {
        margin-left: -14px;
      }
    }
/*     &.numbered-box:checked + span::before, &.numbered-box:checked + label {
      color: #ffffff;
      background: #cc0000;
      border: solid 1px #cc0000;
      box-shadow: 0px 0px 10px #b30000;
    } */
/*     &.greyish-box:checked + span::before, &.greyish-box:checked + label {
      color: $light;
      background: $primary;
      border: solid 1px $secondary;
      box-shadow: 0px 0px 10px #808080;
    } */
    &.grey-box:checked + span::before, &.grey-box:checked + label {
      color: #ffffff;
      background: #808080;
      border: solid 1px #808080;
      box-shadow: 0px 0px 5px #808080;
    }
    &.green-box:checked + span::before, &.green-box:checked +  {
      color: #000000;
      background: #7cfc00;
      border: solid 1px #7cfc00;
      box-shadow: 0px 0px 10px #008000;
    }
    &.gold-box:checked + span::before, &.gold-box:checked + label {
      color: #000000;
      background: #ffd700;
      border: solid 1px #ffd700;
      box-shadow: 0px 0px 10px #ffd700;
    }  
    &.red-box:checked + span::before, &.red-box:checked + label {
      color: #ffffff;
      background: #cc0000;
      border: solid 1px #cc0000;
      box-shadow: 0px 0px 10px #b30000;
    }
  }
span.input-die {
  @extend %input-box;   
  background-color: inherit;
  width: 36px;
  height: 24px;
  text-align: center;  
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"] + label.damage {
  color: $light;
  background: $primary;
  border: solid 1px $secondary;
  box-shadow: 0px 0px 10px #808080;
  margin-right: 12px;
  margin-bottom: 8px;
}
input[type="radio"].red-box + label.damage {
  color: #ffffff;
  background: #cc0000;
  border: solid 1px #cc0000;
  box-shadow: 0px 0px 10px #b30000;
}
input[type="radio"].gold-box + label.damage {
  color: #000000;
  background: #ffd700;
  border: solid 1px #ffd700;
  box-shadow: 0px 0px 10px #ffd700;
}

/* */
input[type="radio"][value="0"] + label.damage {
  border-radius: 50%;
  color: $light;
  background: $tan;
  border: solid 1px $secondary;
  box-shadow: 0px 0px 10px #808080;
}
input[type="radio"][value="0"]:checked + label.damage {
  color: $primary;
}
  
/* Removes highlight from all radios _after_ selected one */
input[type="radio"]:checked ~ input[type="radio"] + label.damage {
  color: $secondary;
  background: transparent;
  border: solid 1px $secondary;
  box-shadow: 0px 0px 5px #808080;
}

input.damage[value='1'] ~ .v2 {display: none;}
input.damage[value='2'] ~ .v3 {display: none;} 
input.damage[value='3'] ~ .v4 {display: none;} 
input.damage[value='4'] ~ .v5 {display: none;} 
input.damage[value='5'] ~ .v6 {display: none;} 
input.damage[value='6'] ~ .v7 {display: none;}
input.damage[value='7'] ~ .v8 {display: none;} 
input.damage[value='8'] ~ .v9 {display: none;} 
input.damage[value='9'] ~ .v10 {display: none;} 
 
select { 
  @extend %no-outline;   
  @extend %input-box;  
  @extend %input-select;  
  -width: 38px;
  -height: 26px;    
  justify-content: center;
  justify-items: center;
  background-color: transparent;
  padding-left: 3px;
  text-align: center;
  text-align-last: center;  
  &.spec-category {
    width: 95%;
    margin: 3px;
  }
  &.weight {
    -appearance: none;  
  }
  & option {
    text-align: center;
  }
}
select.weight {
  margin-top: -2px;
}
option {    
  @extend %no-outline;  
  @extend %input-select; 
  justify-content: center;
  justify-items: center;
  background-color: $light;
  text-align: center;
}

.ui-dialog .charsheet button[type="roll"]::before, .ui-dialog .charsheet button[type="action"]::before {
  content: "";
}

.ui-dialog .charsheet button.label-caps {
  @extend %text-base;
  @extend %text-upper;
  background-color: unset;
  background-image: unset;
  box-shadow: unset;
  border: none;  
}
.ui-dialog .charsheet button.label {
  @extend %text-base;
  @extend %text-lower;
  background-color: unset;
  background-image: unset;
  box-shadow: unset;
  border: none;  
}
.ui-dialog .charsheet button.label-caps:hover, .ui-dialog .charsheet button.label:hover {
  background-color: unset;
  text-decoration: underline;
  color: unset;
}
.ui-dialog .charsheet button.attribute-button {
  appearance: unset;
  text-shadow: unset;
}
