// Rows

.row {
    @extend %row-commons;
    line-height: 1em;
    min-height: 1em;
  }
  .row-tall {
    @extend %row-commons;
    line-height: 1.2em;
    min-height: 1.2em;
  }
  .row-narrow {
    @extend %row-commons;
    line-height: 0.8em;
    min-height: 0.8em;
  }
  .box {
    @extend %cell-flex-col;
    padding: 3px;
  }
  .row-100pc {
    min-width: 100%;
    max-width: 100%;
  }
  .row-whole {
    @extend %cell-flex-row;
    max-width: 100%;
    min-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .row-whole-nopad {
    @extend %cell-flex-row;
    max-width: 100%;
    min-width: 100%;
  }
  .row-fill {
    flex: 1;
  }
  .row-half {
    height: 50%;
  }
  .h-fill {
    height: 100%;
  }
  .h-2-5em {
    height: 2.5em;
  }
  .flex-row {  
    @extend %cell-flex-row;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }