@import url("https://fonts.googleapis.com/css?family=Special+Elite|Anton|Abel|Chilanka|Delius&display=swap");
@font-face {
  font-family: T2KCharSheet;
  src: url(https://github.com/NocFenix/roll20-character-sheets/blob/t2k-4e/T2K%204e/STENCILSTD.OTF?raw=true) format("opentype");
}
@font-face {
  font-family: DaisyWheel;
  src: url(https://github.com/dwarfwing/twilight2000/raw/main/Twilight%202000/assets/fonts/daisywhl.otf?raw=true) format("opentype");
}
.page-container {
  display: flex;
  flex-direction: column;
  background-color: #e4ddc9;
  padding: 8px;
  background-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/background.png);
}

.component {
  display: block;
}

.sheet-rolltemplate-sheetname {
  display: block;
}

.basic, .weapons, .combat, .gear, .vehicle, .notes, .stockpile {
  display: none;
}

.tabstoggle[value=basic] ~ div.basic,
.tabstoggle[value=attributes] ~ div.attributes,
.tabstoggle[value=weapons] ~ div.weapons,
.tabstoggle[value=action] ~ div.action,
.tabstoggle[value=combat] ~ div.combat,
.tabstoggle[value=gear] ~ div.gear,
.tabstoggle[value=vehicle] ~ div.vehicle,
.tabstoggle[value=notes] ~ div.notes,
.tabstoggle[value=stockpile] ~ div.stockpile {
  display: flex;
  flex-direction: column;
}

.tabstoggle[value=basic] ~ .main-buttons.button-basic,
.tabstoggle[value=attributes] ~ .main-buttons.button-attributes,
.tabstoggle[value=weapons] ~ .main-buttons.button-weapons,
.tabstoggle[value=combat] ~ .main-buttons.button-combat,
.tabstoggle[value=action] ~ .main-buttons.button-action,
.tabstoggle[value=gear] ~ .main-buttons.button-gear,
.tabstoggle[value=vehicle] ~ .main-buttons.button-vehicle,
.tabstoggle[value=notes] ~ .main-buttons.button-notes,
.tabstoggle[value=stockpile] ~ .main-buttons.button-stockpile {
  background-color: #756758;
  color: #fff;
  border: 3px solid #756758;
}

.tab {
  display: flex;
  min-width: 16%;
  max-width: 16%;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 2.5em;
  border: 1px solid #5a4c3a;
  border-bottom: unset;
  background-color: transparent;
  margin-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0px;
}

.row-narrow, .row-tall, .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  -border-bottom: 1px solid #534c3b;
}

.box, .col-fill, .col-3-14th, .col-14th, .col-fivesixth, .col-sixth, .col-fourfifth, .col-threefifth, .col-twofifth, .col-fifth, .col-55pc, .col-46px, .col-42px, .col-35px, .col-225, .col-threequarter, .col-quarter, .col-twothird, .col-third, .col-half, .col-whole, .col-flex {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
}

.flex-row, .row-whole-nopad, .row-whole {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-self: stretch;
  align-items: center;
  flex-wrap: wrap;
}

.ui-dialog .charsheet button.label, .ui-dialog .charsheet button.label-caps, .action-dice label.dice-button-label, input, textarea, h1, h2, h3, h4, select, option, .label-caps, div, span, p, label, .label, .row-whole label, .logo {
  font-family: "GNUTypewriter", "DaisyWheel", "Special Elite", "Abel";
  color: #756758;
  text-align: left;
  padding-left: 3px;
  -font-weight: normal;
  font-size: 12px;
}

.ui-dialog .charsheet button.label-caps, .action-dice label.dice-button-label, h1, h2, h3, h4, select, option, .label-caps, .logo {
  text-transform: uppercase;
}

.ui-dialog .charsheet button.label, div, span, p, label, .label, .row-whole label {
  text-transform: unset;
  font-weight: unset;
}

.bordered {
  border: 1px solid #756758 !important;
}

.dashed {
  border: 1px dotted #756758 !important;
}

.dashed {
  border: 1px dashed #756758 !important;
}

.border-all {
  padding-right: 3px;
  -border-right: 2px solid #756758;
  border-width: 2px;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/border-long1.png) 2 2 2 2;
}

.border-right {
  padding-right: 3px;
  -border-right: 2px solid #756758;
  border-width: 0 2px 0 0;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/border-long1.png) 0 2 0 0;
}

.border-bottom-long {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/border-long1.png) 0 0 2 0;
}

.border-bottom-short {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/border-short-light1.png) 0 0 2 0;
}

.border-top-short {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/border-long1.png) 2 0 0 0;
}

.border-top-sectioned {
  border-width: 6px 0 0 0;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/border-top-sectioned2.png) 6 0 0 0;
}

.border-bottom-right {
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/border-long1.png) 0 2 2 0;
}

.speciality-box, select, span.input-die, .input-number {
  padding: 2px;
  border: 1px solid #756758;
  border-radius: 2px;
  min-width: 30px;
  width: 30px;
  min-height: 20px;
  height: 20px;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px #808080;
}

input, textarea {
  width: auto;
  background-color: transparent;
  border-top: 0;
  line-height: 1.2em;
  height: 1.5em;
  padding-top: 5px;
}

option, select, .input-number {
  min-width: 38px;
  width: 38px;
  min-height: 26px;
  height: 26px;
  margin-bottom: unset;
}

input.spec-desc, textarea.spec-desc {
  scrollbar-arrow-color: #756758;
  scrollbar-base-color: #cdc3af;
  scrollbar-darkshadow-color: #5a4c3a;
  scrollbar-shadow-color: #5a4c3a;
  scrollbar-highlightcolor: #e4ddc9;
}
input.spec-desc::-webkit-scrollbar, textarea.spec-desc::-webkit-scrollbar {
  width: 10px;
}
input.spec-desc::-webkit-scrollbar-button, textarea.spec-desc::-webkit-scrollbar-button {
  display: none;
  color: #756758;
  background: #5a4c3a;
}
input.spec-desc::-webkit-scrollbar-track, textarea.spec-desc::-webkit-scrollbar-track {
  background: #cdc3af;
}
input.spec-desc::-webkit-scrollbar-thumb, textarea.spec-desc::-webkit-scrollbar-thumb {
  background: #756758;
  height: 5px;
  cursor: grab;
}
input.spec-desc::-webkit-scrollbar-thumb:hover, textarea.spec-desc::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: grab;
}

option:active, select:active, input:active, textarea:active, option:focus, select:focus, input:focus, textarea:focus, option:focus-within, select:focus-within, input:focus-within, textarea:focus-within, option:focus-visible, select:focus-visible, input:focus-visible, textarea:focus-visible, option:target, select:target, input:target, textarea:target, option:hover, select:hover, input:hover, textarea:hover {
  -border: 0 !important;
  -outline-width: 0;
  outline: none;
}

.repcontrol_del, .repcontrol_move, .repcontrol_add, .repcontrol_edit {
  color: #e4ddc9;
  background: #756758;
  border: solid 1px #5a4c3a;
  box-shadow: 0px 0px 10px #808080;
}

.logo {
  background-image: url("https://github.com/dwarfwing/twilight2000/blob/main/Twilight%202000/images/twilight2000logo.png?raw=true");
  background-size: contain;
  background-repeat: no-repeat;
}

div, span, p, label, .label, .row-whole label {
  box-sizing: border-box;
}

h1, h2, h3, h4, select, option, .label-caps {
  -font-size: 1em;
  box-sizing: border-box;
}

.label-caps {
  -font-size: 90%;
  padding-left: 0;
}

.smallcaps {
  font-variant: smallcaps;
  font-size: 80%;
}

div.headlabel div.label-caps {
  -font-size: 80%;
  margin-bottom: -5px;
  margin-top: 4px;
}

.row-whole label {
  font-size: unset;
  -font-size: 80%;
}

.characterviewer label {
  margin-bottom: unset;
}

.repcontainer, .repitem {
  padding-left: 0;
}

/*.repcontrol_add, .repcontrol_edit {
  float: right;
  margin-top: 4px;
  margin-right: 2px;
  color: $light;
  background: $primary;
  border: solid 1px $secondary;
  box-shadow: 0px 0px 10px #808080;
} 
.speciality .repcontrol_add {
  @extend %input-box;
  margin: 4px;
  max-width: 200px;
  min-width: 185px;;
  min-height: 135px;
  max-height: 135px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: $primary;
} */
.speciality .repcontrol {
  align-self: flex-start;
  position: absolute;
  right: 55px;
  margin-top: -35px;
}

.repcontrol_add, .repcontrol_edit {
  /* , .speciality .repcontrol_move, .speciality .repcontrol_del */
  -opacity: 0;
  visibility: hidden;
  width: 5px;
  padding-left: 5px;
  -padding-right: 5px;
}

.repcontrol_add::before, .repcontrol_edit::before {
  /* , .speciality .repcontrol_move::before, .speciality .repcontrol_del::before */
  -opacity: 1;
  visibility: visible;
  color: #756758;
  -margin-left: -35px;
  font-family: "Pictos";
}

.repcontrol_add::before {
  content: "&";
}

.repcontrol_edit::before {
  -position: relative;
  -opacity: 1;
  -visibility: visible;
  -color: #756758;
  -top: 15px;
  -margin-left: -38px;
  -font-family: "Pictos";
  content: "(";
}

.repcontrol_add, .repcontrol_edit {
  float: right;
}

.repcontrol_move {
  float: right;
  -position: relative;
  -opacity: 1;
  -visibility: visible;
  -color: #756758;
  -top: 15px;
  -margin-left: -38px;
  -font-family: "Pictos";
  -content: "(";
}

.repcontainer.editmode ~ .repcontrol button.repcontrol_edit::before {
  font-family: "Pictos";
  content: ")";
}

.speciality .repcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

input[type=number] {
  text-align: right;
}

.input-number {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
  background-color: transparent;
  color: #756758;
}

input[type=number]::-webkit-inner-spin-button:hover {
  background-color: transparent;
  color: #5a4c3a;
}

.input-text {
  color: #000;
  font-family: "Delius", "Chilanka", "Abel";
}

.input-textarea {
  color: #000;
  font-family: "Delius", "Chilanka", "Abel";
  height: auto;
}

.attributesskills .label-div {
  height: 32px;
  display: flex;
  align-items: center;
  padding-right: 5px;
  border-width: 97%;
}

.attributesskills select,
.attributesskills span {
  align-self: flex-start;
}
.attributesskills select.separator,
.attributesskills span.separator {
  align-self: center;
}

input, textarea {
  background-color: transparent;
  color: #5a4c3a;
  width: 100%;
  margin-bottom: 3px !important;
  /*     &.numbered-box:checked + span::before, &.numbered-box:checked + label {
        color: #ffffff;
        background: #cc0000;
        border: solid 1px #cc0000;
        box-shadow: 0px 0px 10px #b30000;
      } */
  /*     &.greyish-box:checked + span::before, &.greyish-box:checked + label {
        color: $light;
        background: $primary;
        border: solid 1px $secondary;
        box-shadow: 0px 0px 10px #808080;
      } */
}
input.input-textarea, textarea.input-textarea {
  color: #000;
  font-family: "Delius", "Chilanka", "Abel";
  height: auto;
}
input.spec-desc, textarea.spec-desc {
  width: 95%;
  max-width: 95%;
  height: 80px !important;
  max-height: 80px !important;
  resize: none;
  -outline: unset;
  padding: 4px;
  margin-top: 3px;
}
input.numbered-box, textarea.numbered-box {
  width: 18px;
  height: 18px;
  position: relative;
  top: 0px;
  left: 8px;
  margin: 0px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
input.numbered-box + span::before, input.numbered-box + label, textarea.numbered-box + span::before, textarea.numbered-box + label {
  content: attr(title);
  color: #5a4c3a;
  border: solid 1px #5a4c3a;
  text-align: center;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  width: 18px;
  height: 18px;
  font-size: 10px;
  font-weight: bold;
  -margin-left: -14px;
  margin-right: 3px;
  padding: 0px 0px 0px 0px;
  line-height: 18px;
  box-shadow: 0px 0px 5px #808080;
  z-index: 0;
}
input.numbered-box.condition + span, textarea.numbered-box.condition + span {
  margin-left: -14px;
}
input.grey-box:checked + span::before, input.grey-box:checked + label, textarea.grey-box:checked + span::before, textarea.grey-box:checked + label {
  color: #ffffff;
  background: #877D70;
  border: solid 1px #756758;
  box-shadow: 0px 0px 5px #5a4c3a;
}
input.green-box:checked + span::before, input.green-box:checked +, textarea.green-box:checked + span::before, textarea.green-box:checked + {
  color: #000000;
  background: #7cfc00;
  border: solid 1px #7cfc00;
  box-shadow: 0px 0px 10px #008000;
}
input.gold-box:checked + span::before, input.gold-box:checked + label, textarea.gold-box:checked + span::before, textarea.gold-box:checked + label {
  color: #000000;
  background: #ffd700;
  border: solid 1px #ffd700;
  box-shadow: 0px 0px 10px #ffd700;
}
input.red-box:checked + span::before, input.red-box:checked + label, textarea.red-box:checked + span::before, textarea.red-box:checked + label {
  color: #ffffff;
  background: #cc0000;
  border: solid 1px #cc0000;
  box-shadow: 0px 0px 10px #b30000;
}

span.input-die {
  background-color: inherit;
  width: 36px;
  height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.input-die::before {
  -content: "D";
}

input[type=radio] + label.damage {
  color: #e4ddc9;
  background: #756758;
  border: solid 1px #5a4c3a;
  box-shadow: 0px 0px 10px #808080;
  margin-right: 12px;
  margin-bottom: 8px;
}

input[type=radio].red-box + label.damage {
  color: #ffffff;
  background: #cc0000;
  border: solid 1px #cc0000;
  box-shadow: 0px 0px 10px #b30000;
}

input[type=radio].gold-box + label.damage {
  color: #000000;
  background: #ffd700;
  border: solid 1px #ffd700;
  box-shadow: 0px 0px 10px #ffd700;
}

.row-whole-nopad input.dice-button,
.row-whole-nopad label.dice-button {
  -border-radius: 15%;
  width: 34px;
  height: 34px;
  font-size: 14px;
  align-self: center;
}

.row-whole-nopad label.dice-button {
  padding-top: 5px;
  font-weight: normal;
  text-transform: uppercase;
  border: 0;
  box-shadow: none;
  background-repeat: round;
  width: 34px;
  height: 34px;
  padding-top: 12px;
}

/* .action-dice label.dice-button.D6 */
input.D6 + label {
  background-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/d6bg-dark.png);
}

input.D8 + label {
  background-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/d8bg-dark.png);
}

input.D10 + label {
  background-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/d10bg-dark.png);
}

input.D12 + label {
  background-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/d12bg-dark.png);
}

input.action-no-die:checked + label,
input[name=attr_actionskilldie][value="-"].action-dice + label.dice-button.action-no-die {
  color: #ffffff;
}

input.D6:checked + label {
  background-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/d6bg.png);
  color: #ffffff;
}

input.D8:checked + label {
  background-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/d8bg.png);
  color: #ffffff;
}

input.D10:checked + label {
  background-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/d10bg.png);
  color: #ffffff;
}

input.D12:checked + label {
  background-image: url(https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/d12bg.png);
  color: #ffffff;
}

.action-dice label.dice-button-label {
  display: flex;
}

/* */
input[type=radio][value="0"] + label.damage {
  border-radius: 50%;
  color: #e4ddc9;
  background: #cdc3af;
  border: solid 1px #5a4c3a;
  box-shadow: 0px 0px 10px #808080;
}

input[type=radio][value="0"]:checked + label.damage {
  color: #756758;
}

/* Removes highlight from all radios _after_ selected one */
input[type=radio]:checked ~ input[type=radio] + label.damage {
  color: #5a4c3a;
  background: transparent;
  border: solid 1px #5a4c3a;
  box-shadow: 0px 0px 5px #808080;
}

input.damage[value="1"] ~ .v2 {
  display: none;
}

input.damage[value="2"] ~ .v3 {
  display: none;
}

input.damage[value="3"] ~ .v4 {
  display: none;
}

input.damage[value="4"] ~ .v5 {
  display: none;
}

input.damage[value="5"] ~ .v6 {
  display: none;
}

input.damage[value="6"] ~ .v7 {
  display: none;
}

input.damage[value="7"] ~ .v8 {
  display: none;
}

input.damage[value="8"] ~ .v9 {
  display: none;
}

input.damage[value="9"] ~ .v10 {
  display: none;
}

select {
  -width: 38px;
  -height: 26px;
  justify-content: center;
  justify-items: center;
  background-color: transparent;
  padding-left: 3px;
  text-align: center;
  text-align-last: center;
}
select.spec-category {
  width: 95%;
  margin: 3px;
}
select.weight {
  -appearance: none;
}
select option {
  text-align: center;
}

select.weight {
  margin-top: -2px;
}

select.actionpresets {
  margin-bottom: 8px;
  margin-right: 5px;
}

option {
  justify-content: center;
  justify-items: center;
  background-color: #e4ddc9;
  text-align: center;
}

.rangedcombatmods div.mods div.label-caps {
  margin-top: 0px;
}

.rangedtype, .closecombatmods, .rangedcombatmods, .socialconflictmods {
  display: none;
  align-self: flex-start;
}

input[name=attr_actiontype][value="Ranged Combat"] ~ div .rangedtype {
  display: flex;
}

input[name=attr_actiontype][value="Close Combat"] ~ div .closecombatmods {
  display: flex;
}

input[name=attr_actiontype][value="Ranged Combat"] ~ div .rangedcombatmods {
  display: flex;
}

input[name=attr_actiontype][value=Persuasion] ~ div .socialconflictmods {
  display: flex;
}

.ui-dialog .charsheet button[type=roll]::before, .ui-dialog .charsheet button[type=action]::before {
  content: "";
}

.ui-dialog .charsheet button.action-dice-button {
  background-color: #cdc3af;
}

.ui-dialog .charsheet button.label-caps {
  background-color: unset;
  background-image: unset;
  box-shadow: unset;
  border: none;
}

.ui-dialog .charsheet button.label {
  background-color: unset;
  background-image: unset;
  box-shadow: unset;
  border: none;
}

.ui-dialog .charsheet button.label-caps:hover, .ui-dialog .charsheet button.label:hover {
  background-color: unset;
  text-decoration: underline;
  color: unset;
}

.ui-dialog .charsheet button.attribute-button {
  appearance: unset;
  text-shadow: unset;
}

.characterviewer {
  height: 800px;
}

.speciality {
  width: 100%;
  flex-wrap: nowrap;
}

.speciality .repcontainer {
  flex-wrap: wrap;
}

.speciality-box {
  margin: 4px;
  max-width: 200px;
  min-width: 185px;
  min-height: 135px;
  max-height: 135px;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 1;
}
.speciality-box .spec-name {
  background-color: #cdc3af;
  padding: 4px;
}

.nobordered {
  border: unset;
  border-top: unset;
  border-bottom: unset;
  border-right: unset;
  border-left: unset;
}

.border-bottom-short {
  -margin-top: 3px;
  -border-bottom: 1px solid #756758;
}

.border-top-short {
  margin-top: 3px;
  padding-top: 5px;
}

.border-top-sectioned {
  -margin-top: 3px;
  -padding-top: 4px;
}

.noborder {
  border: none !important;
}

.noshadow {
  box-shadow: none !important;
}

.separator {
  margin: 2px;
  padding: 0;
}

.slash {
  padding: 0;
  min-width: unset;
  width: unset;
  margin: 2px;
}

.no-marg {
  margin: 0 !important;
}

.no-pad {
  padding: 0 !important;
}

.pad3 {
  padding: 3px;
}

.pad5 {
  padding: 5px;
}

.pad8 {
  padding: 8px;
}

.pad10 {
  padding: 10px;
}

.pad-side3 {
  padding-left: 3px;
  padding-right: 3px;
}

.pad-side5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pad-side8 {
  padding-left: 8px;
  padding-right: 8px;
}

.pad-right3 {
  padding-right: 3px;
}

.pad-right5 {
  padding-right: 5px;
}

.pad-right8 {
  padding-right: 8px;
}

.left-margin {
  margin-left: 3px;
}

.height-margs3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.height-margs5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.height-margs8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.height-bot-margs8 {
  margin-bottom: 8px !important;
}

.height-bot-pads8 {
  padding-bottom: 8px !important;
}

.height-fit-content {
  height: fit-content;
}

.height-fill-avail {
  height: -webkit-fill-available;
}

.mod, .mod-left {
  -width: fit-content;
  max-width: unset;
  min-width: unset;
  padding: 3px;
  margin: 5px;
}

.mod .label {
  text-align: right;
  margin-right: 0;
  padding-right: 0;
}

.mod-left .label {
  text-align: left;
  margin-left: 0;
  padding-left: 3px;
}

.mod span, .mod-left span {
  margin-left: -12px;
}

.mod select, .mod-left select {
  margin-left: 6px;
}

.weapons-row .narrow, .vehicleweapons-row .narrow {
  width: 46px;
  min-width: 46px;
}

.weapons-row input.narrow, .vehicleweapons-row input.narrow {
  width: 42px;
  min-width: 42px;
}

.weapons-row .wide, .vehicleweapons-row .wide, .combat .wide, .gear .wide {
  width: 57px;
  min-width: 57px;
}

.weapons-row input.wide, .vehicleweapons-row input.wide, .combat input.wide, .gear input.wide {
  width: 53px;
  min-width: 53px;
}

input.xxwide, select.xxwide {
  width: 140px;
  min-width: 140px;
}

input.xwide, select.xwide {
  width: 83px;
  min-width: 83px;
}

.weapons-row .xwide, .vehicleweapons-row .xwide {
  width: 87px;
  min-width: 87px;
}

.weapons-row input[type=number], .weapons-row input[type=text], .weapons-row select,
.vehicleweapons-row input[type=number], .vehicleweapons-row input[type=text], .vehicleweapons-row select {
  -font-family: "GNUTypewriter", "DaisyWheel", "Special Elite", "Abel";
  -color: #756758;
  font-family: "Delius", "Chilanka", "Abel";
  color: #000;
  -appearance: initial;
  border: none;
  box-shadow: unset;
}

.encumbrance span.input-number {
  width: unset;
  min-width: unset;
  -height: 22px;
  align-items: unset;
  min-height: unset;
  padding-top: 0;
}

.encumbrance div.col-half, .encumbrance div.col-third, .encumbrance div.col-quarter, .encumbrance div.col-twothird, .encumbrance div.col-threequarter {
  height: 30px;
  padding: unset;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-top: 6px;
  line-height: 1.2em;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
}

.encumbrance div.col-third, .encumbrance div.col-quarter {
  padding-right: 0;
  padding-left: 0;
  justify-content: center;
}

.middle {
  align-items: center;
  align-content: center;
  align-self: center;
}

.top {
  align-items: flex-start;
  align-content: flex-start;
  align-self: flex-start;
}

.bottom {
  align-items: flex-end;
  align-content: flex-end;
  align-self: flex-end;
}

.center {
  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
}

.right {
  justify-content: flex-end;
  justify-self: flex-end;
  justify-items: flex-end;
  text-align: right;
}

.space-even {
  display: flex;
  justify-content: space-evenly;
  justify-self: space-evenly;
  justify-items: space-evenly;
}

.background-tan {
  background-color: #cdc3af;
}

.bold {
  font-weight: bold;
}

.col-whole {
  max-width: 100%;
  min-width: 100%;
}

.col-half {
  max-width: 50%;
  min-width: 50%;
}

.col-third {
  max-width: 33.3%;
  min-width: 33.3%;
}

.col-twothird {
  max-width: 67.7%;
  min-width: 67.7%;
}

.col-quarter {
  max-width: 25%;
  min-width: 25%;
}

.col-threequarter {
  max-width: 75%;
  min-width: 75%;
}

.col-225 {
  max-width: 22.5%;
  min-width: 22.5%;
}

.col-35px {
  max-width: 35px;
  min-width: 35px;
}

.col-42px {
  max-width: 42px;
  min-width: 42px;
}

.col-46px {
  max-width: 46px;
  min-width: 46px;
}

.col-55pc {
  max-width: 55%;
  min-width: 55%;
}

.col-fifth {
  max-width: 20%;
  min-width: 20%;
}

.col-twofifth {
  max-width: 40%;
  min-width: 40%;
}

.col-threefifth {
  max-width: 60%;
  min-width: 60%;
}

.col-fourfifth {
  max-width: 80%;
  min-width: 80%;
}

.col-sixth {
  max-width: 16.7%;
  min-width: 16.7%;
}

.col-fivesixth {
  max-width: 83.3%;
  min-width: 83.3%;
}

.col-14th {
  max-width: 6%;
  min-width: 6%;
}

.col-3-14th {
  max-width: 21.4%;
  min-width: 21.4%;
}

.flex1 {
  flex: 1;
}

.flex5 {
  flex: 5;
}

.col-fill {
  -width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.logo {
  background-image: url("https://github.com/dwarfwing/twilight2000/blob/main/Twilight%202000/images/twilight2000logo.png?raw=true");
  background-size: contain;
  background-repeat: no-repeat;
}

div, span, p, label, .label, .row-whole label {
  box-sizing: border-box;
}

h1, h2, h3, h4, select, option, .label-caps {
  -font-size: 1em;
  box-sizing: border-box;
}

.label-caps {
  -font-size: 90%;
  padding-left: 0;
}

.smallcaps {
  font-variant: smallcaps;
  font-size: 80%;
}

div.headlabel div.label-caps {
  -font-size: 80%;
  margin-bottom: -5px;
  margin-top: 4px;
}

.row-whole label {
  font-size: unset;
  -font-size: 80%;
}

.characterviewer label {
  margin-bottom: unset;
}

.row {
  line-height: 1em;
  min-height: 1em;
}

.row-tall {
  line-height: 1.2em;
  min-height: 1.2em;
}

.row-narrow {
  line-height: 0.8em;
  min-height: 0.8em;
}

.box {
  padding: 3px;
}

.row-100pc {
  min-width: 100%;
  max-width: 100%;
}

.row-whole {
  max-width: 100%;
  min-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.row-whole-nopad {
  max-width: 100%;
  min-width: 100%;
}

.row-fill {
  flex: 1;
}

.row-half {
  height: 50%;
}

.h-fill {
  height: 100%;
}

.h-2-5em {
  height: 2.5em;
}

.h-1-5em {
  height: 1.5em;
}

.flex-wrap {
  flex-wrap: wrap;
}

.weapons-row .repitem .row-tall {
  height: 3.5em;
}

.encumbrance .row-whole {
  height: 24px;
  justify-content: flex-end;
}

.encumbrance div.col-third {
  height: unset;
  flex-wrap: wrap !important;
}

/* ROLL TEMPLATE STYLING */
.sheet-rolltemplate-t2k .sheet-template-wrap {
  background-color: #383838;
  border: 1px solid #404040;
  border-radius: 5px;
  width: 100%;
  margin-left: -10px;
  padding: 5px;
}

.sheet-rolltemplate-t2k .sheet-template-background {
  background-color: #404040;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.sheet-rolltemplate-t2k .sheet-template-grid {
  display: grid;
  grid-gap: 3px;
  background-color: transparent;
  padding: 3px;
  grid-template-columns: 15.75% 15.75% 15.75% 15.75% 15.75% 15.75%;
  text-transform: capitalize;
}

.sheet-rolltemplate-t2k .sheet-template-grid-item {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
}

.sheet-rolltemplate-t2k .sheet-template-span-six {
  grid-column: 1/7;
}

.sheet-rolltemplate-t2k .sheet-template-span-left {
  grid-column: 1/3;
}

.sheet-rolltemplate-t2k .sheet-template-span-center {
  grid-column: 3/5;
}

.sheet-rolltemplate-t2k .sheet-template-span-right {
  grid-column: 5/7;
}

.sheet-rolltemplate-t2k .sheet-template-span-one {
  grid-column: 1/2;
}

.sheet-rolltemplate-t2k .sheet-template-span-two {
  grid-column: 2/3;
}

.sheet-rolltemplate-t2k .sheet-template-span-three {
  grid-column: 3/4;
}

.sheet-rolltemplate-t2k .sheet-template-span-four {
  grid-column: 4/5;
}

.sheet-rolltemplate-t2k .sheet-template-span-five {
  grid-column: 5/6;
}

.sheet-rolltemplate-t2k .sheet-template-span-shix {
  grid-column: 6/7;
}

.sheet-rolltemplate-t2k .sheet-template-to-the-left {
  text-align: left;
}

.sheet-rolltemplate-t2k .sheet-template-to-the-center {
  padding-left: 43%;
}

.sheet-rolltemplate-t2k .inlinerollresult {
  color: transparent;
  font-size: 1.9em;
  line-height: 35px;
  background-color: transparent;
  border: none;
  padding: 0px;
}

.sheet-rolltemplate-t2k .inlinerollresult.fullcrit {
  color: transparent;
  border: none;
}

.sheet-rolltemplate-t2k .inlinerollresult.fullfail {
  color: transparent;
  border: none;
}

.sheet-rolltemplate-t2k .inlinerollresult.importantroll {
  color: transparent;
  border: none;
}

.sheet-rolltemplate-t2k .sheet-template-base-six-fail {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-d1.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-eight-fail {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-c1.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-ten-fail {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-b1.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-twelve-fail {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-a1.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-six-between {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-d0.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-eight-between {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-c0.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-ten-between {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-b0.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-twelve-between {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-a0.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-six-success {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-d6.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-eight-success {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-c6.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-ten-success {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-b6.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-twelve-success {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-a6.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-ten-critical {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-b10.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-base-twelve-critical {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-a10.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-ammo-fail {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-g1.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-ammo-between {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-g0.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-ammo-success {
  height: 30px;
  width: 30px;
  background-image: url("https://raw.githubusercontent.com/dwarfwing/twilight2000/main/Twilight%202000/images/dice/t2k-g6.png?raw=true");
  background-size: 100% 100%;
}

.sheet-rolltemplate-t2k .sheet-template-yellow {
  height: 30px;
  width: 30px;
  background-color: #ffe600;
  border: none;
  border-radius: 5px;
  background-position: center;
}

.action {
  display: none;
}

/*# sourceMappingURL=twilight2000.css.map */
