// COLORS
//  ============================= *
$primary: #756758;
$secondary: #5a4c3a;
$light: #e4ddc9;
$dark: #e4ddc9;
$dark-font: #000;

$gold: #ffd70066;

$box-shadow: 2px 2px 3px 1px #4c4c4c;

/* Mixins
    ============================= */
@import "./scss/abstracts/mixins";

/* GLOBALS
    ============================= */
@import url("https://fonts.googleapis.com/css?family=El+Messiri:wght@500&display=swap");
@import "./scss/base/globals";

/* GRID
   ============================= */
div.sheet-grid {
  display: inline-grid;
  grid-column-gap: 1%;
  grid-row-gap: 0.5%;
}

%gridRowCol {
  display: inline-grid;
  overflow: hidden;
  grid-auto-rows: min-content;
  grid-column-gap: 1%;
}

/* GENERIC CLASSES
    ============================= */
@import "./scss/base/generic";

/* STYLED CHECKBOXES
    ============================= */
@import "./scss/components/checkboxes";

/* TABS
    ============================= */
@import "./scss/tabs";

/* NPC
    ============================= */
@import "./scss/pages/npc.scss";

/* PC
    ============================= */
@import "./scss/pages/character.scss";
